[database_rw]
db_host={{ kamailio_dbhost }}
db_name={{ kamailio_dbname }}
db_user={{ kamailio_dbuser }}
db_pass={{ kamailio_dbpass }}
[database_ro]
db_user={{ kamailio_dbrouser }}
db_pass={{ kamailio_dbropass }}
